@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    margin-inline: 2rem;
}
header .logo img{
    height: 50px;
    width: 150px;
    color: black;
}
header .desckotop-menu{
    display: flex;
    gap: 4rem;
    align-items: center;
}
header .desckotop-menu ul{
    display: flex;
    gap: 0.71rem;
}
header .desckotop-menu ul li{
    list-style: none;
}
header .desckotop-menu ul li a{
    text-decoration: none;
    color: white;
    transition: .5s;
}
header .desckotop-menu ul li a:hover{
    color: #e4d804;
}
header .desckotop-menu  div{
    display: flex;
    align-items:center ;
    gap: 5px;
    color: #e4d804 !important;
}
header .desckotop-menu  div .select{
   padding: 0 1rem;
   border-left: #e4d804 2px solid;
}
header .desckotop-menu  div .select i{
    font-size: 1.3rem;
}
header .desckotop-menu  div .select select{
    background: transparent;
    border: none;
    color: black;
    font-size: .999rem;
    font-weight: 600;

}
.btn{
    background: transparent;
    padding: .55rem 2.55rem;
    border: none;
    color: black;
    font-size: 1rem;
    border-radius: 2rem;
    border: #e4d804 solid 2px;
    font-weight: 600;
    transition: .5s;
}
.btn:hover{
    background: #e4d804;
    color: black;
}
.humbarger i{
  color: black;
  font-size: 2rem;
  transition: .5s;
  
}

.humbarger i:hover{
    color: #e4d804;
}
.humbarger{
    display: none;
}

/* ------------mobile-menu--------- */

.mobile-menu{
    display: none;
   
    
}
/* hero */
.hero{
    width: 100%;
    height: 100vh;
    background:url(https://themebeyond.com/html/movflx/img/bg/breadcrumb_bg.jpg) center/cover no-repeat;
}
.hero-con{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero .cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-transform: capitalize;
    padding: 10%;
}
.hero h2{
    font-weight: 600;
    font-size: 4.4rem;
}
.hero ol{
    display: flex;
    gap: 10px;
}
.hero li{
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 14px;
}
.hero a{
    text-decoration: none;
    color: white;
}
.hero a:hover{
    color: yellow;
}
/* information */
.inform{
    width: 100%;
    height: 100vh;
    padding: 4rem 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: url(https://themebeyond.com/html/movflx/img/bg/contact_bg.jpg) center/cover no-repeat;
}
.inform h5{
    font-size: 2rem;
    font-weight: 700;
    color: white;
    display: inline;
    margin-bottom: 3rem;
    border-bottom: 1px solid yellow;
}
.contact-form{
    grid-column: 1/3;

}
.contact-form form{    
    padding: 50px 30px 60px;
    border: 1px solid #232226;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 2rem;
}
.contact-form .inp1 input{
    max-width: 49.5%;
    display: inline;
}
.inp1 {
	display: flex;
    gap: 10px;
}
.contact-form input{
    width: 100%;
    padding: 1rem;
    color: white;
    background-color: rgb(31, 30, 36);

}
.btn {
	background: #12151e none repeat scroll 0 0;
	border: 2px solid #e4d804;
	border-radius: 50px;
	color: #e3dfdf;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.5;
	padding: 16px 34px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
	max-width: 200px;
}
textarea{
    width: 100%;
    padding:1rem 1rem 5rem 1rem;
    margin-bottom: 30px;
    background-color: rgb(31, 30, 36);
    color: white;
    
}
.inform i{
	width: 46px;
	height: 46px;
	flex: 0 0 46px;
	text-align: center;
	font-size: 16px;
	color: #1f1e24;
	background: #e4d804;
	line-height: 46px;
	border-radius: 50%;
	margin-right: 15px;
}
.informatoin .text{
    display: flex;
    flex-direction: column;
    padding: 4.1rem;
    background-color: rgb(31, 30, 36);
    color: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.46);
    margin: 30px;
}
.informatoin li{
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #313035;

}
.informatoin li span{
    margin-right: 10px;
}
#prag{
      padding-bottom: 25px;
      margin-bottom: 30px;
      border-bottom: 1px solid #313035;
}
/* map */
.map-im{
    width: 100%;
    min-height: 439px;
    background: url(https://themebeyond.com/html/movflx/img/bg/map.jpg) center/cover no-repeat;
}
/* saerch */
.search{
    background: url(https://themebeyond.com/html/movflx/img/bg/newsletter_bg.jpg) center/cover no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
}
.search h4 {
	font-size: 30px;
	text-transform: uppercase;
	color: #171d22;
	margin-bottom: 0;
}
.search p{
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
}
.email{
    position: relative;
}
::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
.email button{
        position: absolute;
        right: 2px;
        top: 2px;
        bottom: 2px;
        border-radius: 4px;
        background: #171d22;
        border-color: #171d22;
        color: #e4d804;
        font-size: 14px;
        padding: 15px 34px;

}
.email input {
	width: 100%;
	border: 2px solid #faf9f7;
	background: #fff;
	box-shadow: 0px 3px 4px 0px rgba(30, 30, 30, 0.17);
	padding: 17px 25px;
	padding-right: 215px;
	border-radius: 4px;
}
/* footer */
footer{
    width: 100%;
    margin: auto;
}
footer .countainer{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
    padding-bottom: 2rem;
    background: url(https://themebeyond.com/html/movflx/img/bg/footer_bg.jpg) center/cover no-repeat;

}
.header{
    width: 100%;
    min-height: 100px;
}
.header .nav{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;

}
.header ul{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
 .header .btn{
    padding: 10px 34px;
    border: 2px solid #e4d804;
    border-radius: 24px;
    max-width: 200px;
}
.pr a{
    font-size: 3rem;
}
.header li{
    list-style-type: none;
    padding: 1.5rem;
    margin-right: 27px;
}
.sear {
    position: relative;
    margin-left: 30px;
}
.sear input {
	width: 100%;
	border: none;
	background: #12151e;
	color: #fff;
	padding: 14px 20px;
	font-size: 12px;
	border-radius: 30px;
	padding-right: 60px;
	box-shadow: inset 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
}
.sear button {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	border: none;
	background: transparent;
	font-size: 12px;
	color: #e4d804;
	padding: 0;
}
.sear{
    font-weight: 900;
}
.header a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}
a:hover{
	color: #e4d804;

}
.foot-link{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.foot-link ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
li{
    margin: 5px 50px 5px 0px;
    list-style-type: none;
}
 .foot-link a{
    text-decoration: none;
	color: #bcbcbc;
	display: block;
	font-weight: 500;
	font-size: 13px;
	text-transform: uppercase;
}
 .copyright-wrap .container{
	width: 100%;
    padding: 2rem 0;
	margin-right: auto;
	margin-left: auto;
    background: black;
    color: #fff;
}
.copyright-wrap .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.foot-img{
    max-width: 100%;
}
.row a{
    color: #e4d804;
    text-decoration: none;
}

@media(max-width:1024px){
    .header ul li{
        padding: 0;        
        margin-bottom: 20px;
        text-align: center;    
    }
    
    .hero .cont{
        padding-top: 50%;
    }
    .inform{
        width: 100%;
        grid-template-columns: 1fr;
        height: 170vh;
    }
}

@media(max-width:872px){
    .header{
        background: #000;
    }
    header .desckotop-menu{
        display: none;
    }
    .humbarger {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 20px;
        top: 3%;
        width: 40px;
        height: 40px;
        background: transparent;
        border-radius: 2px;
        /* color: white; */
        font-size: 1.5rem;
        z-index: 1111;
        cursor: pointer;
    }
    .humbarger i{
        color: white;
    }

    .mobile-menu{
        display: block;
        display: flex;
        flex-direction: column;
        height: 40%;
        width: 100%;
        background: #000;
        color: white;
        /* justify-content: center; */
        align-items: center;
        inset: 0 0 0 0 !important;
        transition: .5s;
        padding-bottom: 1.4rem;
        
    }
 .mobile-menu ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    .mobile-menu ul li{
        list-style: none;
        
    }
    .mobile-menu ul li a{
        color: white;
        text-decoration: none;
        transition: .5s;
    }
    .mobile-menu ul li a:hover{
        color: #e4d804;
    }
    .mobile-menu div{
        display: flex ;
        gap: 1rem;
        align-items: center;
        
    }
    .mobile-menu div .select select{
        background: transparent;
        border: none;
        color: white;
        font-size: .999rem;
        font-weight: 600;
    
    }
    .mobile-menu  div .select{
        padding: 0 1rem;
        border-left: #e4d804 2px solid;
     }
     .mobile-menu div .select i{
        font-size: 1.3rem;
        color: #e4d804;
    }
    .mobile-menu div button{
        background: transparent;
        padding: .55rem 2.55rem;
        border: none;
        color: white;
        font-size: 1rem;
        border-radius: 2rem;
        border: #e4d804 solid 2px;
        font-weight: 600;
        transition: .5s;
    }
    .mobile-menu div button:hover{
        background: #e4d804;
        color: black;
    }
    .mobile-menu[data-visible="false"]{
        display: none;
 }
 .humbarger i[data-visible="false"]{
    display: none;
}

.humbarger i[data-visible="true"]{
    display: block;
}
 
}

@media(max-width:768px){
    .hero .cont{
        padding-top: 80%;
        
    }
    .hero .container .cont .bar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
    .contact-form{
        margin-right: 5rem;
        }
    .informatoin .text{
        margin-left:-3.5rem;
    }
    .hero h2{
        font-weight: 600;
        font-size: 3rem;
    }
    
}